.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upload-label{
  background-color: #2e97f2;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.box-div{
     width: 90%;
     margin-top:4%;
     margin-left:3%;
     display: flex;
     align-items: center;
     justify-content: center;
}

#filename{
    margin-top: 10px;
}

.parent {
      width: 200px;
      margin-bottom: 10%;
      padding: 2rem;
      background: #ffffff;
      border-radius: 25px;
      box-shadow: 7px 20px 20px rgb(210, 227, 244);
      margin-left:40px;
    }
.file-upload {
      text-align: center;
      border: 3px dashed rgb(210, 227, 244);
      padding: 1.5rem;
      position: relative;
      cursor: pointer;
}
.file-upload p {
      font-size: 0.87rem;
      margin-top: 10px;
      color: #bbcada;
}
.file-upload input {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
}

.upload-button button{
  background-color: #317de8;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.upload-button{
    margin-top: -40px;
}



